# Import relevant libraries

In [1]:
import os
import glob
import json
import numpy as np
import pandas as pd

# Load data

In [2]:
# setup data path
base_path = os.path.join('..', 'datasets')
files_path = glob.glob(os.path.join(base_path, '*.json'))
files_path

['../datasets/starwars-episode-1-interactions.json',
 '../datasets/starwars-episode-2-interactions.json',
 '../datasets/starwars-episode-3-interactions.json',
 '../datasets/starwars-episode-4-interactions.json',
 '../datasets/starwars-episode-5-interactions.json',
 '../datasets/starwars-episode-6-interactions.json',
 '../datasets/starwars-episode-7-interactions.json',
 '../datasets/starwars-full-interactions.json']

In [3]:
# load files by episode excluding the full-interactions file
for i in range(len(files_path) - 1):
    with open(files_path[i]) as json_file:
        var_name = '_'.join(['ep', str(i+1)])
        vars()[var_name] = json.load(json_file)
        print('A variable `{}` was created!'.format(var_name))

# load full interaction file to get all characters info
with open(files_path[-1]) as json_file:
    base = json.load(json_file)
    print('A variable `base` was created!')

A variable `ep_1` was created!
A variable `ep_2` was created!
A variable `ep_3` was created!
A variable `ep_4` was created!
A variable `ep_5` was created!
A variable `ep_6` was created!
A variable `ep_7` was created!
A variable `base` was created!

# Create summary table

In [4]:
# generate a table with all character as a base table for the summary
sum_table = pd.DataFrame(base['nodes'])[['name']]
sum_table

              name
0          QUI-GON
1      NUTE GUNRAY
2             PK-4
3            TC-14
4          OBI-WAN
..             ...
105      YOLO ZIFF
106  COLONEL DATOO
107      ELLO ASTY
108           JESS
109        NIV LEK

[110 rows x 1 columns]

In [5]:
# create a list of episodes
ep_list = ['ep_1', 'ep_2', 'ep_3', 'ep_4', 'ep_5', 'ep_6', 'ep_7']

# loops over the list to merge information whether a character appears in each episode to the summary table
for ep in ep_list:
    # create a dataframe(`df`) from `nodes` element in each episode's dictionary
    df = pd.DataFrame(vars()[ep]['nodes'])
    # subset only the `name` column
    df = df[['name']]
    # create a new column with a name corresponding to its episode with a value 1 in each row
    df.loc[:, ep] = 1
    # merge the newly created dataframe to the summary table
    sum_table = pd.merge(sum_table, df, on = 'name', how = 'left')
    print('{} information was added to the summary table'.format(ep))

# fill NAN with 0
sum_table.fillna(0, inplace = True)

ep_1 information was added to the summary table
ep_2 information was added to the summary table
ep_3 information was added to the summary table
ep_4 information was added to the summary table
ep_5 information was added to the summary table
ep_6 information was added to the summary table
ep_7 information was added to the summary table

In [6]:
sum_table

              name  ep_1  ep_2  ep_3  ep_4  ep_5  ep_6  ep_7
0          QUI-GON   1.0   0.0   1.0   0.0   0.0   0.0   0.0
1      NUTE GUNRAY   1.0   1.0   1.0   0.0   0.0   0.0   0.0
2             PK-4   1.0   1.0   0.0   0.0   0.0   0.0   0.0
3            TC-14   1.0   0.0   0.0   0.0   0.0   0.0   0.0
4          OBI-WAN   1.0   1.0   1.0   1.0   1.0   1.0   0.0
..             ...   ...   ...   ...   ...   ...   ...   ...
105      YOLO ZIFF   0.0   0.0   0.0   0.0   0.0   0.0   1.0
106  COLONEL DATOO   0.0   0.0   0.0   0.0   0.0   0.0   1.0
107      ELLO ASTY   0.0   0.0   0.0   0.0   0.0   0.0   1.0
108           JESS   0.0   0.0   0.0   0.0   0.0   0.0   1.0
109        NIV LEK   0.0   0.0   0.0   0.0   0.0   0.0   1.0

[110 rows x 8 columns]

In [7]:
# create a dictionary format
keys = np.array(sum_table['name'])
values = np.array(sum_table.loc[:, sum_table.columns != 'name'])
sum_dict = {}

for key, value in zip(keys, values):
    sum_dict[key] = value

In [8]:
sum_dict

{'QUI-GON': array([1., 0., 1., 0., 0., 0., 0.]),
 'NUTE GUNRAY': array([1., 1., 1., 0., 0., 0., 0.]),
 'PK-4': array([1., 1., 0., 0., 0., 0., 0.]),
 'TC-14': array([1., 0., 0., 0., 0., 0., 0.]),
 'OBI-WAN': array([1., 1., 1., 1., 1., 1., 0.]),
 'DOFINE': array([1., 0., 0., 0., 0., 0., 0.]),
 'RUNE': array([1., 0., 0., 0., 0., 0., 0.]),
 'TEY HOW': array([1., 0., 0., 0., 0., 0., 0.]),
 'EMPEROR': array([1., 1., 1., 0., 1., 1., 0.]),
 'CAPTAIN PANAKA': array([1., 0., 0., 0., 0., 0., 0.]),
 'SIO BIBBLE': array([1., 1., 0., 0., 0., 0., 0.]),
 'JAR JAR': array([1., 1., 1., 0., 0., 0., 0.]),
 'TARPALS': array([1., 0., 0., 0., 0., 0., 0.]),
 'BOSS NASS': array([1., 0., 0., 0., 0., 0., 0.]),
 'PADME': array([1., 1., 1., 0., 0., 0., 0.]),
 'RIC OLIE': array([1., 0., 0., 0., 0., 0., 0.]),
 'WATTO': array([1., 1., 0., 0., 0., 0., 0.]),
 'ANAKIN': array([1., 1., 1., 0., 0., 1., 0.]),
 'SEBULBA': array([1., 0., 0., 0., 0., 0., 0.]),
 'JIRA': array([1., 0., 0., 0., 0., 0., 0.]),
 'SHMI': array([1., 1., 0., 0., 0., 0., 0.]),
 'C-3PO': array([1., 1., 1., 1., 1., 1., 1.]),
 'DARTH MAUL': array([1., 0., 0., 0., 0., 0., 0.]),
 'KITSTER': array([1., 0., 0., 0., 0., 0., 0.]),
 'WALD': array([1., 0., 0., 0., 0., 0., 0.]),
 'FODE/BEED': array([1., 0., 0., 0., 0., 0., 0.]),
 'JABBA': array([1., 0., 0., 1., 0., 1., 0.]),
 'GREEDO': array([1., 0., 0., 1., 0., 0., 0.]),
 'VALORUM': array([1., 0., 0., 0., 0., 0., 0.]),
 'MACE WINDU': array([1., 1., 1., 0., 0., 0., 0.]),
 'KI-ADI-MUNDI': array([1., 1., 0., 0., 0., 0., 0.]),
 'YODA': array([1., 1., 1., 0., 1., 1., 0.]),
 'RABE': array([1., 0., 0., 0., 0., 0., 0.]),
 'BAIL ORGANA': array([1., 1., 1., 0., 0., 0., 0.]),
 'GENERAL CEEL': array([1., 0., 0., 0., 0., 0., 0.]),
 'BRAVO TWO': array([1., 0., 0., 0., 0., 0., 0.]),
 'BRAVO THREE': array([1., 0., 0., 0., 0., 0., 0.]),
 'CAPTAIN TYPHO': array([0., 1., 1., 0., 0., 0., 0.]),
 'SENATOR ASK AAK': array([0., 1., 0., 0., 0., 0., 0.]),
 'ORN FREE TAA': array([0., 1., 0., 0., 0., 0., 0.]),
 'SOLA': array([0., 1., 0., 0., 0., 0., 0.]),
 'JOBAL': array([0., 1., 0., 0., 0., 0., 0.]),
 'RUWEE': array([0., 1., 0., 0., 0., 0., 0.]),
 'TAUN WE': array([0., 1., 0., 0., 0., 0., 0.]),
 'LAMA SU': array([0., 1., 0., 0., 0., 0., 0.]),
 'BOBA FETT': array([0., 1., 0., 0., 1., 0., 0.]),
 'JANGO FETT': array([0., 1., 0., 0., 0., 0., 0.]),
 'OWEN': array([0., 1., 0., 1., 0., 0., 0.]),
 'BERU': array([0., 1., 0., 1., 0., 0., 0.]),
 'CLIEGG': array([0., 1., 0., 0., 0., 0., 0.]),
 'COUNT DOOKU': array([0., 1., 1., 0., 0., 0., 0.]),
 'SUN RIT': array([0., 1., 0., 0., 0., 0., 0.]),
 'POGGLE': array([0., 1., 0., 0., 0., 0., 0.]),
 'PLO KOON': array([0., 1., 1., 0., 0., 0., 0.]),
 'ODD BALL': array([0., 0., 1., 0., 0., 0., 0.]),
 'GENERAL GRIEVOUS': array([0., 0., 1., 0., 0., 0., 0.]),
 'FANG ZAR': array([0., 0., 1., 0., 0., 0., 0.]),
 'MON MOTHMA': array([0., 0., 1., 0., 0., 1., 0.]),
 'GIDDEAN DANU': array([0., 0., 1., 0., 0., 0., 0.]),
 'CLONE COMMANDER GREE': array([0., 0., 1., 0., 0., 0., 0.]),
 'CLONE COMMANDER CODY': array([0., 0., 1., 0., 0., 0., 0.]),
 'TION MEDON': array([0., 0., 1., 0., 0., 0., 0.]),
 'CAPTAIN ANTILLES': array([0., 0., 1., 0., 0., 0., 0.]),
 'DARTH VADER': array([0., 0., 1., 1., 1., 1., 0.]),
 'LUKE': array([0., 0., 0., 1., 1., 1., 0.]),
 'CAMIE': array([0., 0., 0., 1., 0., 0., 0.]),
 'BIGGS': array([0., 0., 0., 1., 0., 0., 0.]),
 'LEIA': array([0., 0., 0., 1., 1., 1., 1.]),
 'MOTTI': array([0., 0., 0., 1., 0., 0., 0.]),
 'TARKIN': array([0., 0., 0., 1., 0., 0., 0.]),
 'HAN': array([0., 0., 0., 1., 1., 1., 1.]),
 'DODONNA': array([0., 0., 0., 1., 0., 0., 0.]),
 'GOLD LEADER': array([0., 0., 0., 1., 0., 0., 0.]),
 'WEDGE': array([0., 0., 0., 1., 1., 1., 0.]),
 'RED LEADER': array([0., 0., 0., 1., 0., 0., 0.]),
 'RED TEN': array([0., 0., 0., 1., 0., 0., 0.]),
 'GOLD FIVE': array([0., 0., 0., 1., 0., 0., 0.]),
 'RIEEKAN': array([0., 0., 0., 0., 1., 0., 0.]),
 'DERLIN': array([0., 0., 0., 0., 1., 0., 0.]),
 'ZEV': array([0., 0., 0., 0., 1., 0., 0.]),
 'PIETT': array([0., 0., 0., 0., 1., 1., 0.]),
 'OZZEL': array([0., 0., 0., 0., 1., 0., 0.]),
 'DACK': array([0., 0., 0., 0., 1., 0., 0.]),
 'JANSON': array([0., 0., 0., 0., 1., 0., 0.]),
 'NEEDA': array([0., 0., 0., 0., 1., 0., 0.]),
 'LANDO': array([0., 0., 0., 0., 1., 1., 0.]),
 'JERJERROD': array([0., 0., 0., 0., 0., 1., 0.]),
 'BIB FORTUNA': array([0., 0., 0., 0., 0., 1., 0.]),
 'BOUSHH': array([0., 0., 0., 0., 0., 1., 0.]),
 'ADMIRAL ACKBAR': array([0., 0., 0., 0., 0., 1., 1.]),
 'LOR SAN TEKKA': array([0., 0., 0., 0., 0., 0., 1.]),
 'POE': array([0., 0., 0., 0., 0., 0., 1.]),
 'KYLO REN': array([0., 0., 0., 0., 0., 0., 1.]),
 'CAPTAIN PHASMA': array([0., 0., 0., 0., 0., 0., 1.]),
 'FINN': array([0., 0., 0., 0., 0., 0., 1.]),
 'UNKAR PLUTT': array([0., 0., 0., 0., 0., 0., 1.]),
 'REY': array([0., 0., 0., 0., 0., 0., 1.]),
 'GENERAL HUX': array([0., 0., 0., 0., 0., 0., 1.]),
 'LIEUTENANT MITAKA': array([0., 0., 0., 0., 0., 0., 1.]),
 'BALA-TIK': array([0., 0., 0., 0., 0., 0., 1.]),
 'SNOKE': array([0., 0., 0., 0., 0., 0., 1.]),
 'MAZ': array([0., 0., 0., 0., 0., 0., 1.]),
 'BB-8': array([0., 0., 0., 0., 0., 0., 1.]),
 'SNAP': array([0., 0., 0., 0., 0., 0., 1.]),
 'ADMIRAL STATURA': array([0., 0., 0., 0., 0., 0., 1.]),
 'YOLO ZIFF': array([0., 0., 0., 0., 0., 0., 1.]),
 'COLONEL DATOO': array([0., 0., 0., 0., 0., 0., 1.]),
 'ELLO ASTY': array([0., 0., 0., 0., 0., 0., 1.]),
 'JESS': array([0., 0., 0., 0., 0., 0., 1.]),
 'NIV LEK': array([0., 0., 0., 0., 0., 0., 1.])}